
github_user  	= YOUR_USER
github_token 	= YOUR_TOKEN
github_org 		= next-cpan

github_username = Pause Parser
github_email    = parser@cplay.us 

repo_user_name 	= pause-parser
repo_email 		= gh@atoomic.org

# path of next-indexes@p5 [duplicate repo on p5 branch]
ix_base_dir    = ~/SOME-WHERE/next-indexes-p5
repo_base_dir  = ~/SOME-WHERE/play