
github_user  	= YOUR_USER
github_token 	= YOUR_TOKEN
github_org 		= pause-play

github_username = Pause Parser
github_email    = parser@cplay.us 

repo_user_name 	= pause-parser
repo_email 		= gh@atoomic.org

# path of pause-index@p5 [duplicate repo on p5 branch]
ix_base_dir    = ~/SOME-WHERE/pause-index-p5
repo_base_dir  = ~/SOME-WHERE/play